<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    <system.webServer>
        <handlers>
            <add name="Django Handler" path="*" verb="*" modules="FastCgiModule" scriptProcessor="C:\django_asu_api\venv\Scripts\python.exe|C:\django_asu_api\venv\Lib\site-packages\wfastcgi.py" resourceType="Unspecified" />
        </handlers>
    </system.webServer>
</configuration>
